OPENAI_API_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
PORT=3000
ULTRAMSG_INSTANCE_ID=iXXXXXXXXXX
ULTRAMSG_TOKEN=iXXXXXXXXX
FIREBASE_API_KEY="YOUR_FIREBASE_API_KEY_HERE"
FIREBASE_AUTH_DOMAIN="your-project-id.firebaseapp.com"
FIREBASE_PROJECT_ID="your-project-id"
FIREBASE_STORAGE_BUCKET="your-project-id.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID="YOUR_SENDER_ID"
FIREBASE_APP_ID="YOUR_APP_ID_FOR_WEB"
FIREBASE_MEASUREMENT_ID="YOUR_MEASUREMENT_ID"